<%= form_with model: @article, local: true do |form| %>

<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :autor, for:"exampleInputEmail1" %>
    <%= form.text_field :nome %>
  </p>
 
  <p>
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </p>

  <p>
    <%= form.label :ISBN %>
    <%= form.text_field :isbn %>
  </p>

  <p>
    <%= form.label :edição %>
    <%= form.text_field :edicao %>
  </p>

  <p>
    <%= form.label :descrição %><br>
    <%= form.text_area :descricao %>
  </p>
 
  <p>
    <%= form.submit :Cadastrar, class:'btn btn-outline-primary' %> 
    <button type="button" class="btn btn-outline-primary"><%= link_to 'Voltar', articles_path %></button>
  </p>
<% end %>

</center>