<h1>Protudo Cadastrado</h1>
<p>
  <strong>Nome:</strong>
  <%= @article.nome %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @article.autor %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @article.isbn %>
</p>

<p>
  <strong>edicao:</strong>
  <%= @article.edicao %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @article.descricao %>
</p>

<%= link_to 'Voltar', articles_path %>